<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="A_BASIC_Language.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <A_BASIC_Language.Properties.Settings>
            <setting name="Resolution" serializeAs="String">
                <value>Pixels480x200Characters60x25</value>
            </setting>
            <setting name="HighQualityRendering" serializeAs="String">
                <value>True</value>
            </setting>
        </A_BASIC_Language.Properties.Settings>
    </userSettings>
</configuration>