<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<!--
			The consol always has text 25 rows and 200 virtual rows of pixels.
			
			You can chose from 40, 60 or 80 text columns
			which corresponds to 320, 480 or 640 virtual columns of pixels.
		-->
		<add key="columnCount" value="60"/>

	</appSettings>
</configuration>